#body{
	/*background: url('../img/background/29-smooth-seamless-metal-texture.jpg');
	background-attachment: fixed;*/
    
    
}
.navb{
	background: #222222;
}

#nav{
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}